.boton-redes{
  --background: transparent;
}

.logo-redes{
  height: 20px;
}

.texto-span{
  color: #0F3375;
}

.logo-sesion{
  text-align: center; 
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}