<app-custom-header [backButton]="true"></app-custom-header>
<ion-content>
  <div class="ion-padding">
    <ion-row class="seccion-titulo">
      <span>
        <strong>
          CREA UNA CUENTA
        </strong>
      </span>
    </ion-row>
    <br><br>
    <div class="formulario">
      <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Apellido paterno"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Apellido materno"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Edad"></ion-input>
      </ion-item>
      <br>
      <ion-row style="padding-left: 16px;">
        <span>Sexo:</span>
      </ion-row>
      <!-- <ion-item class="item-input-text">
        <ion-input type="text" placeholder="Sexo"></ion-input>
      </ion-item> -->
      <br><br>
      <ion-button expand="block" class="boton boton-azul-degradado" mode="md">
        <span>Continuar</span>
      </ion-button>
    </div>
  </div>
</ion-content>
